@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App{
  width:100%;
  font-family: Helvetica;
}

.customFont{
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-size: 30pt;
}

.big{
  font-size: 36pt;
}

.space{
  margin-top:5px;
}

.main{ 
  max-width: 960px;
  margin: 0 auto;
}

.text-center{
  text-align:center;
}

.negativeMargin{
  margin-top:-35px;
  margin-bottom:20px;
}

.plain-text{
  padding: 0px 10px 10px 10px;

  text-align: justify;
  margin: 0 auto;

}

.option{
  border:0;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
  background-color:white;
  width: 48%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  cursor: pointer;
  color:white;
}

.start-button{
  background-color:#ffd600;
  color:#333; 
  font-weight: bold;
  padding: 5px 5px;
  width:100%;
  border:0;
}

.option:focus{
  outline: none;
  box-shadow: none;
}

.left{
  float:left;
}

.right{
  float:right;
}

.yes{
  background-color: #00e676;

}

.no{
  background-color: #ff1744;

}

.yes-no-buttons-div{
  width: 100%;
}

.title{
  height:30%;
}

.content{
  text-align: center;
  margin: 0 auto;

}

.content-text{
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  border: 5px solid #333;
  padding: 10px;
}

.footer{
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}


.recommendations{
  text-align: center;
  margin-top:20px;
}

.recommendations ul{
  padding: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.recommendations ul li {
  padding-top: 5px;
}

.centered {
  min-width:360px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.yellowblack-text{
  border: 5px solid #333;
  color:#333;
  font-weight: bold;
  width:360px;
  padding:10px;
  text-align: justify;
  margin: 0 auto;
}

.continue{
  width: 360px;
  background-color: #00e676;
  color: white;
}

.credits{
  width:100%;
  text-align: center;
  position: fixed;
  bottom:0;
}

.credits p{
  font-size: 8pt;
  width:320px;
  padding: 5px;
  padding-bottom: 2 0px;
  margin: 0 auto;
}

@media screen and (max-width: 360px) {
  body{
  }

  .centered{
    width: 300px;
  }

  .main{
  }

  .content-text{
    margin: 0 auto;
    width: 300px;
  }

  .plain-text{
    width: 300px;
  }
  .yes-no-buttons-div{
    margin: 0 auto;
    width: 300px;
  }

  .continue{
    margin: 0 auto;
    width: 300px;
  }

  .text-center{
    margin: 0 auto;
    width: 300px;
  }
}