@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App{
  padding-top: 30px;
  width:100%;
  font-family: Helvetica;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.customFont{
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-size: 30pt;
}

.big{
  font-size: 36pt;
}

.space{
  margin-top:5px;
}

.main{ 
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  height:400px;
}

.text-center{
  text-align:center;
}

.negativeMargin{
  margin-top:-35px;
  margin-bottom:20px;
}

.yellowblack-button{
  background-color:#ffd600;
  color:#333; 
  font-weight: bold;
  padding: 5px 5px;
  width:100%;
  border:0;
}

.yellowblack-text{
  border: 5px solid #333;
  color:#333;
  font-weight: bold;
  width:360px;
  padding:10px;
  text-align: justify;
  margin: 0 auto;
}

.plain-text{
  padding: 0px 10px 10px 10px;
  width:360px;

  text-align: justify;
  margin: 0 auto;
  margin-top: 10px;

}


.option{
  border:0;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
  background-color:white;
  width: 48%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  cursor: pointer;
  color:white;
}

.left{
  float:left;
}

.right{
  float:right;
}

.yes{
  background-color: #00e676;

}

.no{
  background-color: #ff1744;

}

.yes-no-buttons-div{
  width: 100%;
}

.title{
}

.content{
  height: 250px
}

.footer{
}
  
.bottom{
  width:360px;
  margin: 0 auto; 
  margin-bottom: 10px;
}