@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App{
  padding-top: 30px;
  width:100%;
  font-family: Helvetica;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.customFont{
  font-family: 'Bebas Neue';
  font-size: 30pt;
}

.big{
  font-size: 36pt;
}

.space{
  margin-top:5px;
}

.main{ 
  max-width: 960px;
  min-width: 300px;
}

.text-center{
  text-align:center;
}

.negativeMargin{
  margin-top:-35px;
  margin-bottom:20px;
}

.yellowblack-button{
  background-color:#ffd600;
  color:#333; 
  font-weight: bold;
  padding: 5px 5px;
  width:100%;
  border:0;
}

.yellowblack-text{
  background-color:#ffd600;
  color:#333;
  font-weight: bolder;
  padding: 5px 10px;
  width:360px;
  border:0;
  text-align: justify;
}

.plain-text{
  border-bottom:solid 1px #aaa;
  padding: 0px 10px 10px 10px;
  width:360px;
  margin-bottom: 10px;
  text-align: justify;
}

.space{
  margin-right:10px;
}